* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: poppins;
}

body {
  background-color: #161a30;
}

@font-face {
  font-family: poppins;
  src: url(../../Fonts/Poppins-Regular.woff);
}
